page-login {

    .welcomeMessage, .loginInputs, .bottomInfo{
        width: 90%;
        margin: 0 auto;
    }

    .ultimateBody{
        background: url('../../assets/imgs/phones.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: border-box;
    }

    .contentBody{
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        height: 100vh;
        background:  rgba(4, 49, 128, 0.863);
        color: #fff;
    }

    .welcomeMessage h2{
        font-weight: bolder;
    }


    .contentBody .contentInner{
        margin: 45% auto;
    }

    .welcomeMessage,.bottomInfo{
        margin-left: 22px;
    }

    .loginInputs input{
        width: 100%;
        padding: 15px;
        border-radius: 30px;
        margin: 10px auto;
        border: none;
        color: rgb(31, 31, 31);
    }

    .loginInputs button{
        width: 100%;
        border: none;
        border-radius: 30px;
        padding: 15px;
        margin: 10px auto;
        color: #fff;
        background:  #1bd854;
    }

    .bottomInfo p a{
        color:  #1bd854;
    }





}
