<ion-header no-border>
    <ion-navbar>
  
            
          <ion-buttons left>
  
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
  
          </ion-buttons>
  
  
  
            <ion-buttons center>
  
  
                    <ion-title>Home</ion-title>
  
  
            </ion-buttons>
  
  
  
        
  
            <ion-buttons end>
                <button ion-button icon-only color="royal" (click)="goToSettings()"> 
                  <ion-icon name="options"></ion-icon>
                </button>
            </ion-buttons>


            <!-- <ion-buttons end>
                <button ion-button icon-only color="royal">
                  <ion-icon name="search"></ion-icon>
                </button>
            </ion-buttons> -->
  
  
    </ion-navbar>
  </ion-header>
  
  
  
  <ion-content>
   
      <!-- Segment in content -->
      <ion-segment  class="scrollable-segments" color="primary" [(ngModel)]="chosenCategory" >
  
            <ion-segment-button  value="Home" (click)="getPostsCollection()">
              Home
            </ion-segment-button>


            <ion-segment-button *ngFor="let category of categories | async" value="{{category.name}}" (click)="getCategoryPosts(category)">
              {{category?.name}}
            </ion-segment-button>
  
       </ion-segment>
  
  
  
  

        <!-- top header big hero  -->
        <ion-card   class="headerContainer" no-border *ngFor="let post of posts | async | slice:0:1; let i = index; let first = first;" (click)="openPost(post)" tappable >
   
            <div class="innerGradient"   >
  
  
                <img [src]="post.media_url | async" />
                <div class="card-title"> 
                  
                  {{ post?.title }}
                  <br>
                  <button  ion-button  class="readMoreHeader" color="primary"  tappable > Read more </button>
  
                </div>

                <!-- <div class="card-subtitle"></div> -->

            </div>
       
        </ion-card>
  
  
  
        <!-- all posts bi\=-+
          0
          
           g hero  -->
          <ion-card class="noBorders" no-shadow *ngFor="let post of posts | async | slice:1;" (click)="openPost(post)" tappable >
  
              <ion-item no-border text-wrap class="noBorders" >
    
                <ion-avatar class="avatar" item-start>
                  <img [src]="post.media_url | async" >
                </ion-avatar>
    
    
                    <h3>   {{ post.title }}     </h3>
                    <p>   <ion-icon name="time" color="primary"></ion-icon> {{ post.date | timeAgo}}  </p>             
    
    
              </ion-item>
          </ion-card>
 
  
  </ion-content>
  