$font-path: "../assets/fonts";
$app-direction: ltr;

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/montserrat/Montserrat-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../assets/fonts/montserrat/Montserrat-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSansRegular';
  src: url('../assets/fonts/open_Sans/OpenSans-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'MontserratSemiBold';
}



@import "ionic.globals";


$colors: (
  lightPrimary:    rgb(86, 124, 190),
  primary:    #4A8BFC,
  deepPrimary:    rgb(4, 49, 128),
  secondary:  #19bd4a,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       rgb(58, 57, 57),
  pink:       rgb(206, 3, 189),
  black: rgb(0, 0, 0),
  grey: rgb(223, 223, 223),
);



.font14{
  font-size: 19px !important;
  margin: 0 3px 0 0;
}

.font18{
  font-size: 18px !important;
}

ion-toolbar.scrollable-segments {
	ion-segment {
	  display: block;
	  overflow-x: scroll;
	  white-space: nowrap;

	  ion-segment-button.segment-button {
		display: inline-block;
		width: auto;
	  }
	}
}


// overided ionic variables
$font-family-ios-base:  'Montserrat', sans-serif;
$font-family-md-base:  'Montserrat', sans-serif;
$font-family-wp-base:  'Montserrat', sans-serif;


$toolbar-md-padding: 0px;
$toolbar-ios-padding: 0px;


$toolbar-border-color: transparent;
$toolbar-background: color($colors, primary) !default;



@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";


@import "darkmode";
@import "lightmode";