.userProfile{
    width: 100%;
    background: url('../assets/imgs/phones.png');
    border: none;
    padding: 0;
}

.userProfile .item-note{
    width: 100%;
    height: 100%;
    background: rgba(3, 86, 163, 0.767);
    padding: 30px;
}

.userProfile img{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #eee;
    background-size: cover;
}

.bluerow{
    color: white;
    background: rgb(0, 112, 218);
}

.bluerow p{
    color: white;
}




  
