
.menuItem button{
    border: none !important;
}

.userProfile{
    height: 200px;
    background: rgba(0, 0, 0, 0.781);
    margin: 0;
}

.userProfile img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bluerow{
    color: white;
    background: rgb(0, 112, 218);
}

.bluerow p{
    color: white;
}

// .mainMenu{
// }